/* * {
  font-family:courier new;
  font-weight:lighter;
}

::-webkit-scrollbar {
  width:5px;
  background:#eee;
}

::-webkit-scrollbar-thumb {
  background:#333;
} */

/* body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none;
} */


.menu{
  background-color: lightBlue !important;
  justify-content: space-around !important;
}

.menu .item {
  /* -webkit-transition: 0.5s all ease !important; */
  line-height: 25px !important;
  font-size: 20px !important;
  /* letter-spacing: 5px !important; */
}

.top .nav:hover {
  color: #fff !important;
}

.white {
  color: #fff;
}

i {
  margin-top: 7px;
}

.palette {
  height: 240px;
  width: 200px;
  opacity: 0;
  color: #fff;
  margin-top: 55px;
  position: fixed;
  right: 10px;
  z-index:20;
  margin-left: 100vw-210px;
  background: #000;
  border-radius: 20px;
  -webkit-transition: 0.5s all ease;
}

.palette-on {
  opacity: 1;
}

.palette .col {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
  background: #fff;
  margin: 8px 18px;
  border: 2px solid #fff;
  cursor: pointer;
}

.palette h3 {
  margin: 10px 10px 0 10px;
  text-align: center;
  font-weight: 100;
}

.palette .set {
  height: 30px;
  width: 150px;
  border-radius: 15px;
  line-height: 30px;
  margin-left: 25px;
  color: #f00;
  border: 1px solid #fff;
  cursor: pointer;
}

.palette .set .set-one {
  display: inline-block;
  width: 50%;
  margin: 0 -4px;
  text-align: center;
}

.palette .set .button {
  height: 30px;
  width: 75px;
  background-color: #555;
  box-shadow: inset 3px 1px 2px 3px rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  margin-top: -30px;
  position: absolute;
  z-index: 200;
  -webkit-transition: 0.5s all ease;
}

.palette .red {
  background: #900;
}

.palette .dblue {
  background: #007;
}

.palette .green {
  background: #0c0;
}

.palette .yellow {
  background: #cc0;
}

.palette .orange {
  background: #bf6500;
}

.palette .gray {
  background: #555;
}

.palette .pink {
  background: #ff69b4;
}

.palette .violet {
  background: #a0a;
}

.palette .lblue {
  background: #00c;
}

.left {
  width: 300px;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  opacity:0;
  margin-left: -240px;
  -webkit-transition: 0.25s all linear;
}

.left-open {
  margin-left: 0;
  background: rgba(0, 0, 0, 0.9);
}

.left-open .accordion {
  background: #000;
}

.left-open .accordion h4 {
  background: #7d0;
  border: 1px solid #360;
}

.name {
  font-family: edwardian script ITC;
  font-size: 35px;
  color: #900;
  margin: 55px 0 5px 30px;
  -webkit-transition: .5s all ease;
}

.accordion {
  height: 450px;
}

.accordion h4 {
  margin: 0;
  padding: 1px 10px;
  cursor: pointer;
  color: #900;
}

.accordion div {
  margin: 5px 15px 5px 15px;
  width: 230px;
  font-size: .8em;
  color:#fff;
}

.log-out .ask {
  font-size:20px;
  letter-spacing:-1px;
  word-spacing:-7px;
}

.log-out > div {
  height:30px;
  line-height:30px;
  width:40%;
  text-align:center;
  font-size:20px;
  border:1px solid #000;
  border-radius:4px;
  cursor:pointer;
  box-shadow:inset 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition:.5s all ease;
}

.log-out > div:hover {
  color:#000;
}

.log-out .yes {
  background:#009;
}

.log-out .no {
  background:#090;
}

.hamburger {
  margin-top: 70px;
  margin-left: 82.5%;
  height: 50px;
  width: 50px;
  position: absolute;
  -webkit-transition: .5s all ease;
  cursor: pointer;
}

.ham {
  height: 3px;
  width: 30px;
  background: #900;
  margin: 6px;
  -webkit-transition: .5s all ease;
}

.ham-in .ham-a {
  opacity: 0;
}

.ham-in .ham-b {
  opacity: 1;
  -webkit-transform: rotate(45deg);
}

.ham-in .ham-c {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  margin-top: -9px;
}

.home {
  height: 100vh;
  width: 100vw;
  background: #000;
  z-index: -100;
}

.slideshow {
  width: 400vw;
  height: 100vh;
  display: flex;
}

.slideshow > div {
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.slide1,
.slide4 {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/2a/94/c9/2a94c94e04d710eccf1a39263d3f7781.jpg);
  position:fixed;
}

.slide2 {
  background: url(https://secure.static.tumblr.com/3a50af38968e7a9a33fade4b2937410d/sayayop/xjmn3o2fh/tumblr_static_new-york-city-l-1024x512.jpg);
  animation: slide1 12s linear infinite;
  position:fixed;
  z-index:3;
}

.slide3 {
  background: url(http://wallpapercave.com/wp/ofwwfzH.jpg);
  animation: slide2 12s linear infinite;
  position:fixed;
  z-index:2;
}

.slide4 {
  position:fixed;
  z-index:0;
}

.slide1 {
  animation:slide0 12s linear infinite;
  z-index:4;
}

@-webkit-keyframes slide0 {
  0% {
    margin-left: 0;
  }
  33% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 100vw;
  }
}

@-webkit-keyframes slide1 {
  0% {
    margin-left: 0;
  }
  33% {
    margin-left: 0;
  }
  67% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 100vw;
  }
}

@-webkit-keyframes slide2 {
  0% {
    margin-left: 0;
  }
  67% {
    margin-left: 0;
  }
  100% {
    margin-left: 100vw;
  }
}

.head {
  font-size:100px;
  width:100vw;
  text-align:center;
  margin-top:30vh;
  letter-spacing:15px;
  -webkit-transition:.5s all ease
}

.page1 {
  height:100vh;
  width:100vw;
  background:rgba(0, 0, 0, 0.4);
  position:absolute;
  z-index:5;
  margin-top:-100vh;
}

.enter {
  height:75px;
  width:75px;
  background:rgba(200, 200, 200, 0.5);
  border-radius:100%;
  margin-left:47vw;
  position:absolute;
  border:3px solid #000;
  cursor:pointer;
  -webkit-transition:.5s all ease
}
.enter-key {
  height:0;
  width:0;
  margin:28px 0 0 24px;
  border-top:25px solid #000;
  border-left:15px solid transparent;
  border-bottom:10px solid transparent;
  border-right:15px solid transparent;
  -webkit-transition:.25s all ease;
}
.enter:hover .enter-key {
  margin-top:33px;
}

.page2 {
  height:100vh;
  width:100vw;
  background:#fff;
  position:absolute;
  z-index:5;
}
.page3 {
  height:100vh;
  width:100vw;
  position:absolute;
  margin-top:100vh;
  z-index:5;
  background:#fff;
}

.page3 h1 {
  font-size:80px;
  text-align:center;
  color:#900;
}

.page3 input {
  width:40vw;
  height:30px;
  font-size:30px;
  font-weight:bold;
  outline:0;
  border:0;
  display:block;
  margin:0 0 20px 30vw;
  border-bottom:2px solid #900;
}

.page3 textarea {
  min-width:40vw;
  max-width:40vw;
  font-size:1.2em;
  margin-left:30vw;
  height:100px;
  max-height:150px;
  outline:0;
  border:0;
  border-bottom:2px solid #900;
}

.page3 .button1 {
  height:40px;
  font-size:30px;
  line-height:40px;
  width:20vw;
  margin:30px 0 0 40%;
  text-align:center;
  overflow:hidden;
  cursor:pointer;
  position:absolute;
}

.page3 .hover {
  height:40px;
  width:20vw;
  margin-top:-2px;
  background:#900;
  -webkit-transition:.5s all ease;
}

.page3 .button:hover .hover {
  margin-top:-40px;
  border-radius:8px;
}

#gc {
  margin-left: 32%;
  margin-top: 100px;
}
